@import url('https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@100;400&family=Tinos:wght@400;700&display=swap');
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  font-family: 'Londrina Solid', cursive;
font-family: 'Tinos', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #222831;
  color: white;
  max-width: 1000px;
  max-height: 700px;
  margin: 0 auto;
}
a{
  color: #ececec;
}
